<div class="menu">
    <h1 class="title">Fast API</h1>
    <h1 class="title-wrap">F</h1>
    <div class="menu-options">
        <div class="option">
            <a href="/userdb">
                <i class="bi bi-people"></i>
                <span>Users</span>
            </a>
            <i class='bx bx-chevron-down arrow'></i>
            <div class="options-list">
                <a href="/userdb/formcreate">Create</a>
                <a href="/userdb/formupdate">Update</a>
            </div>
        </div>
        <div class="option"> 
            <a href="">
                <i class="bi bi-cart"></i>
                <span>Products</span> 
            </a>
            <i class='bx bx-chevron-down arrow'></i>
            <div class="options-list">
                <a href="">Create</a>
                <a href="">Update</a>
            </div>
        </div>
    </div>  
</div>